/* Tablet view */
@media (min-width: 480px) {
    .about-image {
      width: 250px;
      margin-bottom: 0;
    }
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

.navbar-brand {
  color: #090623;
}

.navbar-nav li.nav-item a.active {
  border: 2px solid #F5F5F5;
  border-radius: 5px;
  color: #F5F5F5;
  background-color: blue;
}


.navbar-toggler {
  border: 2px solid #333; 
  border-radius: 5px; 
}

.navbar-nav .nav-item .nav-link.active {
  background-color: #090623; 
  color: #F5F5F5 !important; 
  border-radius: 5px; 
}

