/* Tablet view */
@media (min-width: 480px) {
    .about-image {
      width: 250px;
      margin-bottom: 0;
    }
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(255, 255, 255, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E');
}

.navbar-brand {
  color: #09235D;
}

.navbar-nav li.nav-item a.active {
  border: 2px solid white; /* You can change the color to your desired shade */
  border-radius: 5px; /* Optional: To round the corners */
  color: white;
  background-color: blue;
}

/* Add a darker border to the button */
.navbar-toggler {
  border: 2px solid #333; /* You can change the color to your desired shade */
  border-radius: 5px; /* Optional: To round the corners */
}

.navbar-nav .nav-item .nav-link.active {
  background-color: #09235D; /* Change the background color to highlight */
  color: #fff !important; /* Change the text color for better visibility, use !important to override Bootstrap styles */
  border-radius: 5px; /* Optional: To round the corners */
}

