/* Tablet view */
/* @media (min-width: 480px) {
    .about-image {
      width: 250px;
      margin-bottom: 0;
    }
  } */
  .nav-Link {
    color: #09235D;
  }
  .nav-link.active {
    background-color: #09235D; /* Change the background color to highlight */
    color: #fff; /* Change the text color for better visibility */
    border-radius: 5px; /* Optional: To round the corners */
  }
  
  /* Add hover effect for all links */
  .nav-link:hover {
    background-color: #f8f9fa; /* Change the background color on hover */
    color: #09235D; /* Change the text color on hover */
  }