/* .button-gap {
    margin-right: 10%
}
.buttons-margin {
    margin-top: 20%;
} */
.card-img-top {
    height: 300px; /* Fixed height for all images */
    object-fit: cover; /* This will cover the area of the card, cropping the image if necessary */
    width: 100%; /* Ensures the image covers the full width of the card */
}

.card-image {
    height: 200px; /* Or any other height you prefer */
    background-size: cover;
    background-position: center;
    width: 100%;
}

.card-body {
    padding: 5px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-button {
    padding: 5px 10px;
    margin: 5px;
}
