.card-img-top {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.card-body {
    padding: 5px;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-button {
    padding: 3px;
    margin: 1px;
}


