.container {
    /* padding-top: 10%; */
    color: #090623;
}
.form {
    flex-direction: column;
    display: flex;
    padding-top: 25px;
}

.input-name {
    background-color: white;
    color: #090623;
    margin-top: 2%;
}

.input-name::placeholder {
    color: Black;
}

.contact-btn{
    max-width: 20%;
    box-sizing: border-box;
    text-align: center;
    background-color: #FCF7F8;
    color: #090623;
}