.container {
    padding-top: 2%;
    color: #090623;
}
.form {
    flex-direction: column;
    display: flex;
    padding-top: 25px;
}

.input-name {
    margin-top: 2%;
    font-size: 20px;
}

.input-name::placeholder {
    color: #737582;
    font-size: 20px;
}

.contact-btn{
    max-width: 20%;
    box-sizing: border-box;
    text-align: center;
    background-color: #FCF7F8;
    color: #090623;
    font-size: 20px;
    
}