.download-resume {
    padding-top: 3%
}

.resume-front{
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.resume-back{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.resume-full {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10%;
}
