/* Tablet view */
/* @media (min-width: 480px) {
    .about-image {
      width: 250px;
      margin-bottom: 0;
    }
  } */
  .nav-Link {
    color: #09235D;
  }
  .nav-link.active {
    background-color: #09235D; 
    color: #F5F5F5;
    border-radius: 5px;
  }
  
  /* Add hover effect for all links */
  .nav-link:hover {
    background-color: #F5F5F5;
    color: #09235D;
  }