.download-resume {
    padding-top: 2%
}

.resume-front{
    text-align: justify;
    font-size: 24px;
    margin-bottom: 20px;
}

.resume-back{
    font-size: 24px;
    text-align: justify;
    margin-bottom: 20px;
}

.resume-full {
    font-size: 24px;
    text-align: justify;
    padding-bottom: 10%;
}
